<div class="col-sm-9 mt-5">
    <div class="mt-2">
        <Text style="color: #6B6B6B;
                        font-size: 36px;
                        font-family: Poppins;
                        font-weight: 600;
                        letter-spacing: 0.36px;
                        word-wrap: break-word">Danh Sách Người Dùng</Text>
    </div>
    <form class="d-flex" method="get" action="/searchUser">
        <input class="form-control me-2" name="searchString" type="search" placeholder="Tìm Kiếm theo tên" aria-label="Search"
            style="height:60px;">
    </form>
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Tên thành viên</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Tùy chọn</th>
            </tr>
        </thead>
        <tbody>

            {{#each data}}
            <tr>
                <td>{{name}}</td>
                <td>{{address}}</td>
                <td>{{status}}</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <label>
                            <form action="/getIdUser" method="POST">
                                <button class="btn btn-primary m-1" value="{{this._id}}" name="_id">Sửa</button>
                            </form>
                        </label>
                        <button type="button" data-bs-whatever="{{this._id}}" data-bs-whatever2="{{this.name}}"
                            class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Xóa
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xóa loại sách</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Bạn có muốn xóa sách này đi không? <br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Không</button>
                                        <form action="/delteuser" method="POST">
                                            <button type="submit" class="btn btn-danger"> <input style="display: none;"
                                                    type="text" name="id">
                                                Có</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
            {{/each}}

        </tbody>
    </table>
</div>

<script>const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const recipient = button.getAttribute('data-bs-whatever')
        const recipient2 = button.getAttribute('data-bs-whatever2')
        // If necessary, you could initiate an Ajax request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        const modalTitle = exampleModal.querySelector('.modal-title')
        const modalBody = exampleModal.querySelector('.modal-body')
        const modalFooterInput = exampleModal.querySelector('.modal-footer input')

        modalTitle.textContent = `Bạn có chắc chắn muốn xóa người dùng đi không?`
        modalBody.textContent = `Người dùng cần xóa: ${recipient2}`
        modalFooterInput.value = recipient
    })</script>