<div class="col-sm-9 mt-5">
    <div class="mt-2">
        <Text style="color: #6B6B6B;
                        font-size: 36px;
                        font-family: Poppins;
                        font-weight: 600;
                        letter-spacing: 0.36px;
                        word-wrap: break-word">Sửa Sách</Text>
    </div>
    <div class="row mt-3 rounded-3 d-flex justify-content-center m-5" style="height: 800px; background-color: #F5F6F8;">
        <div class="row">
            <form action="/updatebook" method="POST">
                {{#each data}}
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Tên Sách <span
                                class="text-danger">*</span></label>
                    </div>
                    <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" value="{{this.name}}">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Tác giả <span
                                class="text-danger">*</span></label>
                    </div>
                    <input type="text" name="author" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" value="{{this.author}}">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Năm sản xuất <span
                                class="text-danger">*</span></label>
                    </div>
                    <input type="text" name="years" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" value="{{this.years}}">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Số lượng<span
                                class="text-danger">*</span></label>
                    </div>
                    <input type="text" name="count" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" value="{{this.count}}">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Thể loại<span class="text-danger"></span>
                            *</span></label>
                        {{!-- select item loaisp --}}
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Loại sách</label>
                            <select class="form-select" name="selectType">
                                <option value="{{this._idType}}">{{this._idType.name}}</option>
                                {{#each ../dataTypeBook}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="exampleInputEmail1" class="form-label">Số lượng<span
                                    class="text-danger">*</span></label>
                        </div>
                        <input onchange="loadImage(event)" type="text" name="img" class="form-control" id="inputImg"
                            aria-describedby="emailHelp" value="{{this.img}}">
                        <div class="text-center mt-4">
                            <img id="image" src="{{this.img}}" alt="Lỗi" style="width: 120px; height: 120px;">
                        </div>

                        <script>
                            var loadImage = function (event) {
                                var img = document.getElementById("image");
                                var inputImg = event.target.value; // Lấy đường dẫn ảnh từ giá trị của thẻ input
                                img.src = inputImg; // Gán đường dẫn ảnh vào thuộc tính src của thẻ img
                            };  
                        </script>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn p-2" type="submit"
                        style="background-color: #8C2100; color: white; width: 400px;height: 50px;">Sửa
                        sách</button>
                </div>
                {{/each}}
            </form>
        </div>
    </div>
</div>